@model WebAppLab5.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Домашняя страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table border="0" cellspacing="100">
    <tr>
        <td>
            <table border="1">
                <caption>Должности</caption>
                <tr>
                    <th>Код должности</th>
                    <th>Название должности</th>
                </tr>
                @foreach (var position in Model.Positions)
                {
                    <tr>
                        <td>@position.Id</td>
                        <td>@position.Name</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
